<!--
    @title: Forgot Password Page
    @tag: HTML/CSS
    @author: Krishnakanth Alagiri
    @gh-profile: K-Kraken
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - COVID Opportunities</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/loginForm.css">
    <!-- Iconsets Start -->
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/icons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <!-- Iconsets Ends-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="minimum-scale=1,initial-scale=1,width=device-width,shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mui.css') }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <!-- Iconsets Start -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='./assets/img/icons/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./assets/img/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='./assets/img/icons/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./assets/img/icons/favicon-16x16.png')}}">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <!-- Iconsets Ends-->

    <style>
         ::-webkit-scrollbar {
            width: 10px;
        }
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #888;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        @media only screen and (max-device-width: 480px) {
            .Filters {
                display: none;
            }
        }
        
        .luxbar-brand {
            font-size: 1em;
        }
        
        .luxbar-navigation a {
            border-bottom: none;
        }
    </style>

</head>

<body class="bg-gradient-primary">
    <div id="root">
        <div class="Header">
            <header id="luxbar" class="luxbar-fixed">
                <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox" />
                <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
                    <ul class="luxbar-navigation">
                        <li class="luxbar-header">
                            <a href="home" class="luxbar-brand">COVID Opportunities</a>
                            <label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox">
                                <span></span> </label>
                        </li>
                        <li class="luxbar-item"><a href="home">Companies</a></li>
                        <li class="luxbar-item"><a href="projects">Projects</a></li>
                        <li class="luxbar-item"><a href="chats">Chats</a></li>
                        <li class="luxbar-item"><a href="profile">Profile</a></li>
                        <li class="luxbar-item"><a href="login">Login</a></li>
                    </ul>
                </div>
            </header>
        </div>
    <div class="container" style="padding-top: 4em;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;assets/img/loginsplash.jpg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Forgot Your Password?</h4>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div><button class="btn btn-primary btn-block text-white btn-user"
                                            type="submit">Reset Password</button></form>
                                    <div class="text-center">
                                        <hr><a class="small" href="register">Create an Account!</a></div>
                                    <div class="text-center"><a class="small" href="login">Already have an account? Login!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>