<!--
    @title: Projects Page
    @tag: HTML/CSS
    @author: Krishnakanth Alagiri
    @gh-profile: K-Kraken
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects - COVID Opportunities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="minimum-scale=1,initial-scale=1,width=device-width,shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mui.css') }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <!-- Iconsets Start -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./assets/img/icons/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='./assets/img/icons/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./assets/img/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='./assets/img/icons/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./assets/img/icons/favicon-16x16.png')}}">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <!-- Iconsets Ends-->

    <style>
         ::-webkit-scrollbar {
            width: 10px;
        }
        
         ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #888;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        @media only screen and (max-device-width: 480px) {
            .Filters {
                display: none;
            }
        }
        
        .luxbar-brand {
            font-size: 1em;
        }
        
        .luxbar-navigation a {
            border-bottom: none;
        }
    </style>
</head>

<body>
    <div id="root">
        <div class="Header">
            <header id="luxbar" class="luxbar-fixed">
                <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox" />
                <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
                    <ul class="luxbar-navigation">
                        <li class="luxbar-header">
                            <a href="home" class="luxbar-brand">COVID Opportunities</a>
                            <label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox">
                    <span></span> </label>
                        </li>
                        <li class="luxbar-item"><a href="home">Companies</a></li>
                        <li class="luxbar-item"><a href="projects">Projects</a></li>
                        <li class="luxbar-item"><a href="chats">Chats</a></li>
                        <li class="luxbar-item"><a href="profile">Profile</a></li>
                        <li class="luxbar-item"><a href="login">Logout</a></li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="ContentPage" style="padding-top: 4em;">
            <div class="HomePage">
                <h2 class="MuiTypography-root Tagline1 MuiTypography-h2">Engineering Projects that fit your preferences.
                </h2>
                <h2 class="MuiTypography-root Tagline2 MuiTypography-h2"> Search by tech stack, values or perks.</h2>
                <div class="Content-Wrapper Content-Wrapper-Desktop">
                    <aside style="padding-right: 1.7%;">
                        <div class="Filters">
                            <div class="FilterCategory">
                                <h5 class="MuiTypography-root FilterCategory-Heading MuiTypography-h5">Technology</h5>
                                <label onclick="location.href = 'projects\?tags=AWS';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">AWS</span></label>
                                <label onclick="location.href = 'projects\?tags=Python';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Python</span></label>
                                <label onclick="location.href = 'projects\?tags=Java';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Java</span></label>
                                <label onclick="location.href = 'projects\?tags=JavaScript';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span
                                        class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">JavaScript</span></label>
                                <label onclick="location.href = 'projects\?tags=Go';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Go</span></label>
                                <label onclick="location.href = 'projects\?tags=Docker';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Docker</span></label>
                                <label onclick="location.href = 'projects\?tags=Kubernetes';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span
                                        class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Kubernetes</span></label>
                                <label onclick="location.href = 'projects\?tags=React';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">React</span></label>
                                <label onclick="location.href = 'projects\?tags=Ruby';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Ruby</span></label>
                                <label onclick="location.href = 'projects\?tags=C';" class="MuiFormControlLabel-root"><span
                                        class="MuiButtonBase-root MuiIconButton-root jss410 MuiCheckbox-root MuiCheckbox-colorSecondary FilterCheckbox MuiIconButton-colorSecondary"
                                        aria-disabled="false"><span class="MuiIconButton-label"></span>
                                        <span class="MuiTouchRipple-root"></span>
                                    </span><span class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">C</span></label>
                                <button class="MuiButtonBase-root MuiButton-root button-text MoreButton" tabindex="0" type="button"><span
                                        class="MuiButton-label">more ▾</span><span class="MuiTouchRipple-root"></span></button>
                            </div>
                        </div>
                    </aside>
                    <div class="Content">
                        {% if len==0 %}
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-sm-12 MuiGrid-grid-lg-12">
                            <div class="MuiPaper-root MuiCard-root B2Bform MuiPaper-elevation1 MuiPaper-rounded">
                                <div class="MuiGrid-root Padding MuiGrid-container MuiGrid-align-items-xs-flex-start MuiGrid-justify-xs-center">
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-sm-12 MuiGrid-grid-lg-9">
                                        <p class="MuiTypography-root PaddingBottom MuiTypography-body2">We didn't find any roles matching any preferences now. Try resetting your preferences or get back later :)
                                        </p>
                                        <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedSecondary MuiButton-outlinedSizeLarge MuiButton-sizeLarge" tabindex="0" role="button" aria-disabled="false" href="/projects"><span class="MuiButton-label">Reset Your Preferences</span><span class="MuiTouchRipple-root"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="MuiGrid-root Companies MarginBottom MuiGrid-container MuiGrid-spacing-xs-2 MuiGrid-justify-xs-space-around">
                            {%for i in range(0, len)%}
                            <!-- Card Start -->
                            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-12 MuiGrid-grid-lg-6" onclick="location.href = 'projects';">
                                <div class="CompanyCard">
                                    <div class="MuiPaper-root MuiCard-root TheCard MuiPaper-elevation1 MuiPaper-rounded">
                                        <div class="MuiCardContent-root CardContents">
                                            <div class="MainBlock">
                                                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 MuiGrid-align-items-xs-flex-start">
                                                    <div class="MuiGrid-root MuiGrid-item">
                                                        <div class="CompanyInfo-Image" style="background-image: url({{logoname[i]}});">
                                                        </div>/
                                                    </div>
                                                    <div class="MuiGrid-root MuiGrid-item">
                                                        <p class="MuiTypography-root CardTitle MuiTypography-body1 MuiTypography-gutterBottom">
                                                            {{ProjectNames[i]}} </p>
                                                        <p class="MuiTypography-root CardText MuiTypography-body1">{{Locations[i]}}</p>
                                                        <p class="MuiTypography-root CardText MuiTypography-body1">{{ProjectSize[i]}} people</p>
                                                        <p class="MuiTypography-root CardText MuiTypography-body1"><b>{{availableVacancies[i]}} vacancies available</b></p>
                                                    </div>
                                                </div>
                                                <div class="MuiGrid-root CompanyTags MuiGrid-container MuiGrid-align-items-xs-flex-start">
                                                    <!-- Single Tag Start -->
                                                    {%for singleTag in Tags[i]%}
                                                    <div class="MuiGrid-root Tag MuiGrid-item">
                                                        <p class="MuiTypography-root TagText MuiTypography-body1">{{singleTag}}</p>
                                                    </div>
                                                    {%endfor%}
                                                    <!-- Single Tag End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card End -->
                            {%endfor%}
                        </div>
                        <div class="Content-Footer">
                            <div class="MuiPaper-root MuiButtonBase-root MuiButton-root MuiButton-text ShowMoreButton MuiPaper-elevation1 MuiPaper-rounded" tabindex="0" role="button" aria-disabled="false"><span class="MuiButton-label">Show More
                                Projects</span><span class="MuiTouchRipple-root"></span></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>